@page "/registroCompleto"
@inherits RegistroCompletoBase
@layout LoginLayou


<div class="container-fluid text-center">

    <!-- ========== title-wrapper end ========== -->
    <!-- Invoice Wrapper Start -->
    <div class="invoice-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="invoice-card card-style mb-30">

                    <p>Completando Registro</p>
                    <p>¡En unos segundos serás llevado a la plataforma, muchas gracias por la espera!</p>



                    <div class="spinner-box">
                        <div class="configure-border-1">
                            <div class="configure-core"></div>
                        </div>
                        <div class="configure-border-2">
                            <div class="configure-core"></div>
                        </div>
                    </div>


                </div>
                <!-- End Card -->
            </div>
            <!-- ENd Col -->
        </div>




    </div>
</div>
