/*.container-title{
    text-align : center;
}
.principal-title {
    color: var(--bb-blue-text);
    font-weight: 700;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.4px;
    font-size: 25px;
}
*/