@page "/participacionCiudadana"
@using RAS823_MC_CiudadMunicipal_FrontEnd.Pages.SurveyVote.List
@inherits SurveyVoteBase

<div class="container-fluid">

    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center header-container">
            <div class="col">
                <div class="title container-title">
                    <h3 class="principal-title customBreakWord">
                        Blog Municipal Ciudadano
                    </h3>
                </div>
            </div>
      
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->
    <!-- Invoice Wrapper Start -->
    <div class="invoice-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="invoice-card card-style mb-30">

                    <div class="form-group customGroupSurvey">
                        <label for="memoria">Seleccione Participación</label>
                        <Select Items="listSelectType" OnSelectedItemChanged="OnItemChanged" @bind-Value="surveyVoteInputFilterDto.TypeSurvey"></Select>

                    </div>


                    <ListSurveyVote SurveyVoteRegisterUserInternal="false" @ref="listSurveyVote"></ListSurveyVote>


                 
            </div>
            <!-- End Card -->
               
            </div>
            <!-- ENd Col -->
        </div>




    </div>
</div>



@code {

}
