@inherits ChangePasswordBase
@page "/cambioContrasena"
@layout LoginLayou
<div class="containerLogin">
    <h3 style="text-align: center; color: #0E5396;">Cambio de Contraseña</h3>
    <div class="containerForm">
        <div class="container-register">
            <p>¿Su el código expiró? Ir a login</p>
            <a style="color: #1E98D7;" href="/login">Login</a>
        </div>
        <EditForm Model="changePasswordDto" FormName="changePassword" OnValidSubmit="HandleChangePassword">
            <DataAnnotationsValidator />
            <div class="form-group marginCustom">
                <label for="nuevaContrasena">Nueva Contraseña</label>
                <InputText id="nuevaContrasena" class="form-control customInput" type="password" @bind-Value="changePasswordDto.Password"></InputText>
                <ValidationMessage For="@(() => changePasswordDto.Password)" />
            </div>
            <div class="form-group marginCustom">
                <label for="codigo">Código</label>
                <InputText id="codigo" class="form-control customInput" type="text" @bind-Value="changePasswordDto.PasswordResetCode"></InputText>
                <ValidationMessage For="@(() => changePasswordDto.PasswordResetCode)" />
            </div>

            <div class="containerBtn">
                <input type="submit" class="customButton" value="Modificar" />
                <i class="bi bi-lock customIcon"></i>
            </div>
        </EditForm>
    </div>
</div>
@code {

}
