<div class="MainContainer">
    <div class="container">
        <div class="lock-container">
            <div class="lock">
                <div class="keyhole"></div>
            </div>
        </div>
        <p>Opps!</p>
        <p>Por favor loguearse nuevamente.</p>
    </div>
</div>

@code {

}
